<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.night.dao.LogTypeDao">

    <resultMap type="LogType" id="LogTypeResult">
        <result property="id" column="id"/>
        <result property="typeName" column="typeName"/>
        <result property="blogCount" column="blogCount"/>
    </resultMap>

    <select id="findAll" resultMap="LogTypeResult">
        SELECT t2.id,t2.typeName,Count(t1.id) AS blogCount FROM t_blog t1 RIGHT JOIN t_blogType t2 ON t1.typeId=t2.id GROUP BY t2.typeName;
    </select>

    <select id="findById" parameterType="Integer" resultMap="LogTypeResult">
        SELECT * FROM t_blogType where id=#{id}
    </select>
</mapper>