<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.night.dao.PhotographDao">
    <resultMap id="PhotographResult" type="Photograph">
        <id column="id" property="id"/>
        <result property="imageName" column="imageName"/>
        <result property="path" column="path"/>
        <result column="uploadDate" property="uploadDate"/>
    </resultMap>

    <select id="findByPhotoId" parameterType="Integer" resultMap="PhotographResult">
        select * from t_photograph where photo_id=#{photoId}
    </select>
</mapper>